body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  height: 100vh;
}

#title-header {
  text-align: center;
}

#banner {
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-tool {
  display: flex;
}

#root {
  margin-left: auto;
  margin-right: auto;
}
